In [ ]:
#1. Distinct Number of Meal Categories and Cuisines
SELECT COUNT(DISTINCT category) AS num_categories, COUNT(DISTINCT cuisine) AS num_cuisines FROM meal_info

In [ ]:
#2. Center ID with the Highest Number of Orders
SELECT center_id, SUM(num_orders) AS total_orders FROM weekly_demand GROUP BY center_id ORDER BY total_orders DESC LIMIT 1

In [ ]:
#3. Top Selling Cuisine at the Center ID with the Highest Number of Orders
#Assuming the center with the highest orders is known (e.g., center_id = X):
SELECT mi.cuisine, SUM(wd.num_orders) AS total_orders
FROM weekly_demand wd
JOIN meal_info mi ON wd.meal_id = mi.meal_id
WHERE wd.center_id = X
GROUP BY mi.cuisine
ORDER BY total_orders DESC
LIMIT 1

In [ ]:
#4. Average Operating Area per Center Type
SELECT center_type, AVG(op_area) AS avg_op_area FROM center_info GROUP BY center_type

In [ ]:
#5. Center Type with the Highest Revenue
SELECT ci.center_type, SUM(wd.checkout_price * wd.num_orders) AS total_revenue
FROM weekly_demand wd
JOIN center_info ci ON wd.center_id = ci.center_id
GROUP BY ci.center_type
ORDER BY total_revenue DESC
LIMIT 1

In [ ]:
#6. Top Ordered Cuisine in Terms of Number of Orders
SELECT mi.cuisine, SUM(wd.num_orders) AS total_orders
FROM weekly_demand wd
JOIN meal_info mi ON wd.meal_id = mi.meal_id
GROUP BY mi.cuisine
ORDER BY total_orders DESC
LIMIT 1

In [ ]:
#7. Number of Orders per Cuisine per Week
SELECT wd.week, mi.cuisine, SUM(wd.num_orders) AS total_orders
FROM weekly_demand wd
JOIN meal_info mi ON wd.meal_id = mi.meal_id
GROUP BY wd.week, mi.cuisine
ORDER BY wd.week, total_orders DESC

In [ ]:
#8. Center ID that Gave the Highest Number of Discounts
SELECT center_id, COUNT(*) AS num_discounts
FROM weekly_demand
WHERE checkout_price < base_price
GROUP BY center_id
ORDER BY num_discounts DESC
LIMIT 1